<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="id.ac.usbi.smarthome.client"
          android:versionCode="1"
          android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET" />
	<application
			android:allowBackup="true"
			android:icon="@drawable/ic_launcher"
			android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo">

		<activity
				android:name=".DeviceListActivity"
		        android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ControllerListActivity"
		          android:label="Device Control"
                  android:parentActivityName=".DeviceListActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".DeviceListActivity" />
		</activity>

        <activity android:name=".PreferencesActivity"
                  android:label="Settings"
                  android:parentActivityName=".DeviceListActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".DeviceListActivity" />
        </activity>

	</application>

</manifest>
